---
import LaunchCTA from '../atoms/LaunchCTA.astro';
import LaunchDescription from '../atoms/LaunchDescription.astro';
import LaunchTagline from '../atoms/LaunchTagline.astro';
import LaunchTitle from '../atoms/LaunchTitle.astro';

interface Props {
  tagline: string;
  title: string;
  description: string;
  ctaText: string;
  ctaHref?: string;
}

const { tagline, title, description, ctaText, ctaHref = '/lanzamientos' } = Astro.props;
---

<div class="w-full lg:w-1/2 flex flex-col items-start justify-center px-8 lg:pl-60 lg:pr-8">
  <LaunchTagline text={tagline} />
  <LaunchTitle text={title} />
  <LaunchDescription text={description} />
  <LaunchCTA text={ctaText} href={ctaHref} />
</div>
